# dependencies
node_modules/

# build output
dist/

# vite logs
vite.err.log
vite.out.log

# claude code
.claude/
AGENTS.md
CLAUDE.md

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
